<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body>
<nav th:replace="~{fragments :: navbar (fileUpload)}"></nav>
<div class="container">
    <div class="row mt-2 justify-content-between">
        <div class="col-md-5 mb-3">
            <div id="treeArea" class="bg-white">
                <div class="accordion">
                    <div class="accordion-item" th:each="merchant, i : ${merchantList}">
                        <h2 class="accordion-header" th:data-merchant-id="${merchant.getId()}">
                            <button class="accordion-button" th:classappend="${i.index != 0} ? 'collapsed'"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    th:data-bs-target="'#themeList-' + ${merchant.getId()}"
                                    th:aria-expand="${i.index == 0} ? 'true' : 'false'"
                                    th:text="${merchant.getName()}"></button>
                        </h2>
                        <div th:id="'themeList-' + ${merchant.getId()}" class="accordion-collapse collapse"
                             th:classappend="${i.index == 0} ? 'show'"
                             th:aria-labelledby="'merchant-' + ${merchant.getId()}">
                            <div class="accordion-body">
                                <div class="list-group list-group-flush">
                                    <button th:data-merchant-id="${merchant.getId()}"
                                            th:data-theme-id="${theme.getId()}" type="button"
                                            class="list-group-item list-group-item-action"
                                            th:each="theme : ${merchant.getThemeList()}"
                                            th:text="${theme.getNameKo()}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row justify-content-center mx-0 mb-3 border p-1 text-center">
                <h5>파일 업로드</h5>
                <img alt="" class="mb-1" width="300" height="300" id="filePreview" src="/images/noPhoto.jpg"
                     style="object-fit: contain;">
                <div id="previewArea"></div>
                <input accept="image/*, audio/*, video/*" class="form-control" id="file" name="file"
                       type="file" control-id="ControlID-1" required/>
            </div>
            <button class="btn btn-primary w-100" type="button" id="uploadButton">업로드</button>
        </div>
    </div>
</div>
<template id="imagePreview">
    <img alt="" class="mb-1" width="300" height="300" src="${src}"
         style="object-fit: contain;">
</template>
<template id="audioPreview">
    <img alt="" class="mb-1" width="300" height="150" src="/images/tape-play.gif"
         style="object-fit: contain;">
    <audio controls>
        <source src="${src}"/>
    </audio>
</template>
<template id="videoPreview">
    <video src="${src}" width="100%" height="300" controls></video>
</template>
<script th:src="@{/js/file-upload.js}"></script>
</body>
</html>
