<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body class="bg-light">
<nav th:replace="~{fragments :: navbar (hintSettings)}"></nav>
<div class="container mb-3">
    <div class="row mt-2">
        <div class="col text-start">
            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#hintCreateModal"
                    id="hintCreateModalButton">힌트
                만들기
            </button>
        </div>
        <div class="col text-end">
            <span class="fs-6 text-secondary">* 변경사항을 저장 후 발행해주세요.</span>
            <button id="jsonPublishButton" type="button" class="btn btn-success">발행</button>
        </div>
    </div>
    <div class="row mt-2 justify-content-between">
        <div class="col-lg-4 mb-3">
            <div id="treeArea" class="bg-white">
                <div class="accordion">
                    <div class="accordion-item" th:each="merchant, i : ${merchantList}">
                        <h2 class="accordion-header" th:data-merchant-id="${merchant.getId()}">
                            <button class="accordion-button collapsed"
                                    type="button" data-bs-toggle="collapse"
                                    th:data-bs-target="'#themeList-' + ${merchant.getId()}"
                                    th:aria-expand="${i.index == 0} ? 'true' : 'false'"
                                    th:text="${merchant.getName()}"></button>
                        </h2>
                        <div th:id="'themeList-' + ${merchant.getId()}" class="accordion-collapse collapse"
                             th:classappend="${i.index == 0}"
                             th:aria-labelledby="'merchant-' + ${merchant.getId()}">
                            <div class="accordion-body">
                                <div class="list-group list-group-flush">
                                    <button th:data-theme-id="${theme.getId()}" type="button"
                                            class="list-group-item list-group-item-action"
                                            th:each="theme : ${merchant.getThemeList()}"
                                            th:text="${theme.getNameKo()}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 mb-3">
            <table class="table table-hover table-responsive" id="hintTable">
                <thead>
                <tr>
                    <th class="text-truncate" scope="col">순서</th>
                    <th class="text-truncate" scope="col">코드</th>
                    <th style="width: 100px;" class="text-truncate" scope="col">메세지1</th>
                    <th style="width: 100px;" class="text-truncate" scope="col">메세지2</th>
                    <th class="text-truncate" scope="col">사용유무</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="hintCreateModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <form name="hint" class="needs-validation">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">힌트 만들기</h5>
                    <select name="merchantId" class="form-control form-select w-25 ms-3" id="merchantSelect" required>
                        <option value="">지점 선택</option>
                        <option th:each="merchant : ${merchantList}" th:value="${merchant.getId()}"
                                th:text="${merchant.getName()}"></option>
                    </select>
                    <select name="themeId" class="form-control form-select w-25 ms-3" id="themeSelect" required>
                        <option value="">테마 선택</option>
                    </select>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-3">
                    <div class="mb-3 row">
                        <div class="col-6">
                            <label for="hintCode" class="form-label"><span class="requiredMark">*</span>코드</label>
                            <input type="text"
                                   class="form-control"
                                   name="code"
                                   id="hintCode"
                                   required/>
                        </div>
                        <div class="col-6">
                            <div class="col mt-4">
                                <div class="form-switch">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           role="switch"
                                           name="isUsed"
                                           id="hintIsUsed"/>
                                    <label class="form-check-label" for="hintIsUsed">사용 여부</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="hintMessage1" class="form-label"><span
                                    class="requiredMark">*</span>메세지1</label>
                            <input type="text"
                                   class="form-control"
                                   name="message1"
                                   id="hintMessage1" required/>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="hintMessage2" class="form-label"><span
                                    class="requiredMark">*</span>메세지2</label>
                            <input type="text"
                                   class="form-control"
                                   name="message2"
                                   id="hintMessage2" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="hintCreateButton" type="button" class="btn btn-primary">저장</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="hintModifyModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <form name="modifyHintInfo" class="needs-validation">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">힌트 수정하기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-3">
                    <div class="mb-3 row">
                        <input type="hidden" name="id" id="modifyHintId" />
                        <div class="col-6">
                            <label for="modifyHintCode" class="form-label"><span class="requiredMark">*</span>코드</label>
                            <input type="text"
                                   class="form-control"
                                   name="code"
                                   id="modifyHintCode"
                                   required/>
                        </div>
                        <div class="col-6">
                            <div class="col mt-4">
                                <div class="form-switch">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           role="switch"
                                           name="isUsed"
                                           id="modifyHintIsUsed"/>
                                    <label class="form-check-label" for="modifyHintIsUsed">사용 여부</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="modifyHintMessage1" class="form-label"><span
                                    class="requiredMark">*</span>메세지1</label>
                            <input type="text"
                                   class="form-control"
                                   name="message1"
                                   id="modifyHintMessage1" required/>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="modifyHintMessage2" class="form-label"><span
                                    class="requiredMark">*</span>메세지2</label>
                            <input type="text"
                                   class="form-control"
                                   name="message2"
                                   id="modifyHintMessage2" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="hintModifyButton" type="button" class="btn btn-primary">수정</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

<template id="hintTemplate">
    <tr data-hint-id="{id}">
        <td>{index}</td>
        <td class="code">{code}</td>
        <td class="message1">{message1}</td>
        <td class="message2">{message2}</td>
        <td class="isUsed">{isUsed}</td>
    </tr>
</template>

<template id="themeOptionTemplate">
    <option value="">테마 선택</option>
</template>

<script th:src="@{/js/hint-settings.js}"></script>
</html>
