<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body>
<nav th:replace="~{fragments :: navbar (migration)}"></nav>
    <h1>Migration Page</h1>
<script src="https://www.gstatic.com/firebasejs/10.3.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.3.1/firebase-database-compat.js"></script>
<script th:src="@{/js/common/firebaseData.js}"></script>
<script th:src="@{/js/common/firebase.js}"></script>
<script th:src="@{/js/dataMigration.js}"></script>
</body>
</html>
